@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  
}

.form-container {
    background-color: #4A5D8D; /* Blue background */
    padding: 30px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    color: #999;
}

button {
    background-color: #f97316; /* Orange button */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e05c0b;
}
